body{
	margin: 0;
	width: 100%;
}
.login{
	font-family: Arial, sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url("../Imgs/login.jpg");
	background-size: 100%;
}

#panelL {
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px #888888;
	width: 300px;
}

.login h1 {
	margin-top: 0;
	text-align: center;
	color: #5499ff;
}

.login form {
	display: flex;
	flex-direction: column;
}

.login label {
	margin-top: 10px;
	font-size: 18px;
	color: #666666;
}

.login input {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px #888888;
	font-size: 16px;
}

.login button {
	background-color: #5499ff;
	color: #ffffff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.login button:hover {
	background-color: #527ebf;
}
